html {
    background-color: #fff6d9;
}

body {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

header img {
    width: 600px;
    height: 400px;
}

.stuff {
    display: inline-block;
    margin-right: 5%;
}

.things {
    display: inline-block;
    margin-left: 5%;
}
